@charset "UTF-8";
body {
	font-family: ChinoITCStdRegular, Verdana, Arial, Helvetica, sans-serif;
	background: #fff;
	margin: 0;
	padding: 0;
	color: #000;
	/*background: url(slices/bg1b.jpg) center top;*/
	background-repeat: no-repeat;
	background-attachment: fixed;
	
	
	width: 100%;
    display: table;
}

/* ~~ Element/tag selectors ~~ */
ul, ol, dl { /* Due to variations between browsers, it's best practices to zero padding and margin on lists. For consistency, you can either specify the amounts you want here, or on the list items (LI, DT, DD) they contain. Remember that what you do here will cascade to the .nav list unless you write a more specific selector. */
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6 {
	margin-top: 0;	 /* removing the top margin gets around an issue where margins can escape from their containing div. The remaining bottom margin will hold it away from any elements that follow. */
	padding-right: 15px;
	padding-left: 15px; /* adding the padding to the sides of the elements within the divs, instead of the divs themselves, gets rid of any box model math. A nested div with side padding can also be used as an alternate method. */
}
a img { /* this selector removes the default blue border displayed in some browsers around an image when it is surrounded by a link */
	border: none;
}

/* ~~ Styling for your site's links must remain in this order - including the group of selectors that create the hover effect. ~~ */
a:link {
	color: #000000;
	text-decoration: underline; /* unless you style your links to look extremely unique, it's best to provide underlines for quick visual identification */
}
a:visited {
	color: #000000;
	text-decoration: underline;
}
a:hover, a:active, a:focus { /* this group of selectors will give a keyboard navigator the same hover experience as the person using a mouse. */
	text-decoration: none;
}

/* ~~ This fixed width container surrounds all other divs ~~ */
.container {
	width: 960px;
	background: #FFFFFF;
	margin: 0 auto; /* the auto value on the sides, coupled with the width, centers the layout */
	background-image: url(slices/dot3.png);
	background-repeat: repeat-y;
}

/* ~~ The header is not given a width. It will extend the full width of your layout. It contains an image placeholder that should be replaced with your own linked logo. ~~ */
.header {
	height: 330px;
}

/* ~~ These are the columns for the layout. ~~ 

1) Padding is only placed on the top and/or bottom of the divs. The elements within these divs have padding on their sides. This saves you from any "box model math". Keep in mind, if you add any side padding or border to the div itself, it will be added to the width you define to create the *total* width. You may also choose to remove the padding on the element in the div and place a second div within it with no width and the padding necessary for your design.

2) No margin has been given to the columns since they are all floated. If you must add margin, avoid placing it on the side you're floating toward (for example: a right margin on a div set to float right). Many times, padding can be used instead. For divs where this rule must be broken, you should add a "display:inline" declaration to the div's rule to tame a bug where some versions of Internet Explorer double the margin.

3) Since classes can be used multiple times in a document (and an element can also have multiple classes applied), the columns have been assigned class names instead of IDs. For example, two sidebar divs could be stacked if necessary. These can very easily be changed to IDs if that's your preference, as long as you'll only be using them once per document.

4) If you prefer your nav on the right instead of the left, simply float these columns the opposite direction (all right instead of all left) and they'll render in reverse order. There's no need to move the divs around in the HTML source.

*/
.sidebar1 {
	float: left;
	width: 280px;
	padding-bottom: 10px;
	padding-top: 10px;
}
.content {
	padding: 17px 20px 20px 20px;
	width: 625px;
	float: left;
	color: #808184;
	font-size: 1em;
	text-align: justify;
	-webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;
}
.content2 {
	padding: 7px 20px 20px 20px;
	width: 625px;
	float: left;
	color: #808184;
	font-size: 1em;
	text-align: justify;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}
.sidebar2 {
	float: left;
	width: 180px;
	background: #EADCAE;
	padding: 10px 0;
}

/* ~~ This grouped selector gives the lists in the .content area space ~~ */
.content ul, .content ol { 
	padding: 0 15px 15px 40px; /* this padding mirrors the right padding in the headings and paragraph rule above. Padding was placed on the bottom for space between other elements on the lists and on the left to create the indention. These may be adjusted as you wish. */
}

/* ~~ NAVIGATION~~ */
.navigation {	
	font-family: ChinoITCStdBlack;
	padding: 0px 25px 0px 15px;
	font-size: 1.6em;
	width: 240px;  /*this width makes the entire button clickable for IE6. If you don't need to support IE6, it can be removed. Calculate the proper width by subtracting the padding on this link from the width of your sidebar container. */
	text-decoration: none;
	text-align: right;
}
.navi1Item {
	text-decoration: none;
	/*font-family: ChinoITCStdBlack;*/
	font-family: ChinoITCStdBlack, 'Changa One', Verdana, Arial, Helvetica, sans-serif;
	padding: 0px 25px 0px 15px;
	font-size: 1.4em;
	width: 240px;  /*this width makes the entire button clickable for IE6. If you don't need to support IE6, it can be removed. Calculate the proper width by subtracting the padding on this link from the width of your sidebar container. */
	text-align: right;
}
.navi1Item a:link {
	text-decoration: none; /* unless you style your links to look extremely unique, it's best to provide underlines for quick visual identification */
	font-family: ChinoITCStdBlack, 'Changa One', Verdana, Arial, Helvetica, sans-serif;
	
}
.navi1Item a:visited {
	text-decoration: none;
	font-family: ChinoITCStdBlack, 'Changa One', Verdana, Arial, Helvetica, sans-serif;
}
.navi1Item a:hover, a:active, a:focus { /* this group of selectors will give a keyboard navigator the same hover experience as the person using a mouse. */
	text-decoration: none;
	font-family: ChinoITCStdBlack, 'Changa One', Verdana, Arial, Helvetica, sans-serif;
	background-image: url(slices/bg-arrow-grey.gif);	
}
.navi2Item {
	text-decoration: none;
	font-family: ChinoITCStdRegular, 'Rosario', Verdana, Arial, Helvetica, sans-serif;
	padding: 0px 25px 0px 15px;
	font-size: 1.2em;
	width: 240px;  /*this width makes the entire button clickable for IE6. If you don't need to support IE6, it can be removed. Calculate the proper width by subtracting the padding on this link from the width of your sidebar container. */
	text-align: right;
	font-style: normal;
	font-weight: 400;
}
.navi2Item a:link {
	text-decoration: none; /* unless you style your links to look extremely unique, it's best to provide underlines for quick visual identification */
	font-family: ChinoITCStdRegular, 'Rosario', Verdana, Arial, Helvetica, sans-serif;
}
.navi2Item a:visited {
	text-decoration: none;
	font-family: ChinoITCStdRegular, 'Rosario', Verdana, Arial, Helvetica, sans-serif;
}
.navi2Item a:hover, a:active, a:focus { /* this group of selectors will give a keyboard navigator the same hover experience as the person using a mouse. */
	text-decoration: none;
	font-family: ChinoITCStdRegular, 'Rosario', Verdana, Arial, Helvetica, sans-serif;
}


.navi3Item {
	text-decoration: none;
	font-family: ChinoITCStdItalic, 'Rosario', Verdana, Arial, Helvetica, sans-serif;
	padding: 0px 25px 0px 15px;
	font-size: 1em;
	width: 240px;  /*this width makes the entire button clickable for IE6. If you don't need to support IE6, it can be removed. Calculate the proper width by subtracting the padding on this link from the width of your sidebar container. */
	text-align: right;
	color: #666;
	font-style: italic;
	font-weight: 400;
}
.navi3Item a:link {
	text-decoration: none; /* unless you style your links to look extremely unique, it's best to provide underlines for quick visual identification */
	color: #666;
	
}
.navi3Item a:visited {
	text-decoration: none;
	color: #666;
}
.navi3Item a:hover, a:active, a:focus { /* this group of selectors will give a keyboard navigator the same hover experience as the person using a mouse. */
	text-decoration: none;
	color: #04BAF9;
}




/* ~~ The footer styles ~~ */
.footer {
	padding: 10px 20px 10px 20px;
	position: relative;/* this gives IE6 hasLayout to properly clear */
	width: 920px;
	margin: 0 auto; /* the auto value on the sides, coupled with the width, centers the layout */
	text-align: right;
	font-size: x-small;
}

/* ~~ Miscellaneous float/clear classes ~~ */
.fltrt {  /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* this class can be used to float an element left in your page. The floated element must precede the element it should be next to on the page. */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* this class can be placed on a <br /> or empty div as the final element following the last floated div (within the .container) if the .footer is removed or taken out of the .container */
	clear:both;
	height:0px;
	font-size: 1px;
	line-height: 0px;
}



.spacer50 {
	height: 50px;
	padding: 5px 5px 5px 5px;
	width: 960px;
	text-align: right;
	margin: 0 auto;
}
.uniProNaviContainer {
	height: 50px;
	background-image: url(slices/dot4.png);
	background-repeat: repeat-x;
}
.uniProNaviContainerHome {
	height: 50px;
	background-color: #777777;
}
.uniProContainer {
	background-color: #FFF;
	background-image: url(slices/bg-deli.jpg);
}
.uniProContainerDeliInner{
	width: 740px;
	margin: 0 auto;
}
.uniProContainerDefault {
	background-color: #FFF;
}
.uniProContainerDefaultInner{
	width: 900px;
	margin: 0 auto;
}
.uniProContainerItem {
	float: left;
	width: 210px;
	padding-left: 33px;
}
.uniProContainerDefaultItem {
	float: left;
	width: 192px;
	padding-left: 0px;
}
.uniProContainerDefaultItemThin {
	float: left;
	width: 151px;
	padding-left: 0px;
}
.uniProTextContainer {
	padding: 0px 0px 40px 40px;
	background-repeat: no-repeat;
	background-image: url(slices/logo-nefeli-wht-long.png);
	color: #808184;
	font-size: 1em;
}
.uniProTextContainerLeft {
	width: 300px;
	float: left;
	padding-right: 0px;
	font-family: ChinoITCStdRegular, Verdana, Arial, Helvetica, sans-serif;
}
.uniProTextContainerRight {
	width: 430px;
	float: left;
	font-family: ChinoITCStdRegular, Verdana, Arial, Helvetica, sans-serif;
}
.uniProKeywordsContainer {
	background-color: #434343;
	color: #d6d7d9;
	padding: 10px 40px 20px 40px;
	text-align: justify;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
	background-image: url(slices/dot7a.png);
	background-repeat: repeat-x;
}
.uniProFootContainer1  {
	height: 100px;
	padding-top: 5px;
	background-image: url(slices/dot5.png);
}
.uniProFootContainer2  {
	height: 100px;
	padding-top: 5px;
	background-image: url(slices/dot5a.png);
}
.uniProFootContainer1Inner {
	background-image: url(slices/dot6.png);
	margin-top: 0px;
	background-repeat: repeat-y;
	height: 90px;
	padding-top: 7px;
}
.uniProFootContainer2Inner {
	background-image: url(slices/dot6a.png);
	margin-top: 0px;
	background-repeat: repeat-y;
	height: 90px;
	padding-top: 7px;
}
.creditLink {
	float: right;
}





.headerLeft {
	float: left;
	width: 275px;
}
.headerRight {
	float: right;
	width: 680px;
}
.uniProNaviItem {
	width: 157px;
	height: 47px;
	color: #FFF;
	float: left;
	text-align: center;
	font-family: ChinoITCStdRegular, Verdana, Arial, Helvetica, sans-serif;
	font-size: 1em;
	/*border-right-style: solid;
	border-color: #FFF;
	border-right-width: 3px;*/
	padding-top: 3px;
}
.uniProNaviItem a:link {
	text-decoration: none; /* unless you style your links to look extremely unique, it's best to provide underlines for quick visual identification */
	color: #FFF;
	
}
.uniProNaviItem a:visited {
	text-decoration: none;
	color: #FFF;
}
.uniProNaviItem a:hover, a:active, a:focus { /* this group of selectors will give a keyboard navigator the same hover experience as the person using a mouse. */
	text-decoration: none;
	color: #00BDFF;
}	
.uniProNaviItemGap {
	width: 3px;
	height: 50px;
	background-color: #FFF;
	float: left;
	margin-top: 0px;
	padding-top: 0px;
	}

.newsletterContainer {
	float: left;
	width: 255px;
	padding-left: 25px;
}
.newsletterIconContainer {
	float: left;
	width: 75px;
}
.newsletterTitleContainer {
	float: right;
	padding: 5px 20px 5px 10px;
	width: 145px;
	color: #CCC;
	font-family: ChinoITCStdRegular, Verdana, Arial, Helvetica, sans-serif;
}
.newsletterTitleContainer a:link {
	text-decoration: none; /* unless you style your links to look extremely unique, it's best to provide underlines for quick visual identification */
	color: #CCC;
	
}
.newsletterTitleContainer a:visited {
	text-decoration: none;
	color: #CCC;
}
.newsletterTitleContainer a:hover, a:active, a:focus { /* this group of selectors will give a keyboard navigator the same hover experience as the person using a mouse. */
	text-decoration: none;
	color: #00BDFF;
}	



.fbContainer {
	float: left;
	width: 290px;
	padding-left: 20px;
	padding-top: 5px;
}
.socialContainer {
	float: right;
	width: 280px;
	padding-top: 20px;
}

.footerRightContainer {
	float: right;
	width: 280px;
	padding: 5px 40px 0 0;
	text-align: right;
}

.pageTitle {
	font-family: ChinoITCStdBlack, 'Changa One', Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.4em;
	color: #000;
	}
	
.pageTitle2 {
	font-family: ChinoITCStdRegular, Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.7em;
	color: #000;
	}
	
.pageTitle3 {
	font-family: ChinoITCStdRegular, Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	color: #000;
	}
.breadcumb {
	font-size: 0.7em;
	font-style: italic;
}




.popContainer {
	width: 625px;
	border: 1px solid #000000;
	font-size: 0.9em;
}
.popLeft {
	float: left;
	width: 250px;
	position: relative;
	height: 100%;
}
.popRight {
	float: right;
	border-left: 1px solid #000;
	width: 370px;
}
.popRight1 {
	border-bottom: 1px solid #000;
	padding: 10px;
	font-size: 1em;
	text-align: justify;
	-webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;
	}
.popRight2 {
	border-bottom: 1px solid #000;
	padding: 10px;
	text-align: justify;
	-webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;
	}
.popRight3 {
	border-bottom: 1px solid #000;
	background-color: #CCC;
	padding: 10px;
	}
.popRight4 {
	float: left;
	width: 165px;
	padding: 10px;
	text-align: left;
	}
.popRight5 {
	float: left;
	width: 164px;
	padding: 10px;
	text-align: left;
	border-left: 1px solid #000;
	}

.popTitle1 {
	font-family: ChinoITCStdBlack, 'Changa One', Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.5em;
	color: #000;
	text-align: left;
	}
.popTitle2 {
	font-family: ChinoITCStdBlack, 'Changa One', Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.15em;
	color: #000;
	text-align: left;
	}
.popImage1 {
	vertical-align: middle;
	zdisplay: table-cell;
}






.proContainersContainer {}
.proContainer {
	float: left;
	width: 205px;
}
.proItemContainer {
	width: 205px;
}
.proItemImage {
	cursor:pointer;
	}
.proItemTitle {
	text-align: left;
	font-family: ChinoITCStdBlack, 'Changa One', Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	color: #000;
	padding: 0px 20px 0px  20px;
	cursor:pointer;
	height: 65px;
}
.proItemTitle a:link {
	text-decoration: none; /* unless you style your links to look extremely unique, it's best to provide underlines for quick visual identification */
	color: #000;
	
}
.proItemTitle a:visited {
	text-decoration: none;
}
.proItemTitle a:hover, a:active, a:focus { /* this group of selectors will give a keyboard navigator the same hover experience as the person using a mouse. */
	text-decoration: none;
}	  
	  
	  


 @font-face
    {
        font-family : "AC-Compacta_unicode";
        src: url('AC-Compacta_unicode.woff');
		src: url("fonts/AC-Compacta_unicode.eot"); /* IE */
		src: local(ChinoITCStdBlack), url(fonts/AC-Compacta_unicode.ttf);/* Not IE */
    }
    
@font-face {
          font-family: ChinoITCStdRegular;
		  src: url("fonts/ChinoITCStdRegular.woff");/* IE */
		  src: url("fonts/ChinoITCStdRegular.eot"); /* IE */
	      src: local(ChinoITCStdRegular), url(fonts/ChinoITCStdRegular.ttf); /* Not IE */
        }
		
@font-face {
          font-family: "ChinoITCStdBlack";
          src: url("fonts/ChinoITCStdBlack.woff");/* IE */
          src: url("fonts/ChinoITCStdBlack.eot"); /* IE */
		  src: local(ChinoITCStdBlack), url(fonts/ChinoITCStdBlack.ttf);/* Not IE */
        }
		
@font-face {
          font-family: "ChinoITCStdItalic";
          src: url("fonts/ChinoITCStdItalic.woff");/* IE */
          src: url("fonts/ChinoITCStdItalic.eot"); /* IE */
		  src: local(ChinoITCStdItalic?), url(fonts/ChinoITCStdItalic.ttf?);/* Not IE */
        }
		


/*@font-face {
 font-family: ChinoITCStdItalic;
 src: url("fonts/ChinoITCStdItalic.eot") /* EOT file for IE*/ 
/*}
/*
@font-face {
 font-family: ChinoITCStdItalic;
 src: url("fonts/ChinoITCStdItalic.ttf") /* TTF file for CSS3 browsers */
/*}
@font-face {
 font-family: ChinoITCStdItalic;
 src: url("ChinoITCStdItalic.woff") /* WOFF file for IE 
}
/*		

.element {
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;
}
p {
	-webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
	}
	
	*/
	
.bgContainer-Home {
	background: url(slices/bg1b.jpg) center top;
	background-repeat: no-repeat;
	background-attachment: fixed;
	
	width: 100%;
   
	}
.bgContainer-ProOlives {
	background: url(slices/bg2b.jpg) center top;
	background-repeat: no-repeat;
	background-attachment: fixed;
	
	width: 100%;
   
	}

.bgContainer-ProAntipasti{
	background: url(slices/bg4.jpg) center top;
	background-repeat: no-repeat;
	background-attachment: fixed;
	
	width: 100%;
   
	}
	
.bgContainer-ProSpreads {
	background: url(slices/bg6b.jpg) center top;
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 100%;
	
	}		
.bgContainer-ProOil {
	background: url(slices/bg7b.jpg) center top;
	background-repeat: no-repeat;
	background-attachment: fixed;
	
	width: 100%;
    
}

.bgContainer-ProBio {
	background: url(slices/bg2b.jpg) center top;
	background-repeat: no-repeat;
	background-attachment: fixed;
	
	width: 100%;
   
	}



.bgContainer-Products {
	background: url(slices/bg4.jpg) center top;
	background-repeat: no-repeat;
	background-attachment: fixed;
	
	width: 100%;
   
	}

.bgContainer-Company {
	background: url(slices/bg1b.jpg) center top;
	background-repeat: no-repeat;
	background-attachment: fixed;
	
	width: 100%;
  
	}
.bgContainer-Quality {
	background: url(slices/bg4.jpg) center top;
	background-repeat: no-repeat;
	background-attachment: fixed;
	
	width: 100%;
   
	}
	
.bgContainer-Foodservice {
	background: url(slices/bg2b.jpg) center top;
	background-repeat: no-repeat;
	background-attachment: fixed;
	
	width: 100%;
 
	}	
.bgContainer-Recipies {
	background: url(slices/bg6b.jpg) center top;
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 100%;
	
	}	
.bgContainer-Faqs {
	background: url(slices/bg7b.jpg) center top;
	background-repeat: no-repeat;
	background-attachment: fixed;
	
	width: 100%;
    
}
ul	{
	padding-left: 20px;
	}
ol  {
	padding-left: 20px;
	}	

/*.tableTitles {
	background-image: url(slices/dot8.png);
	background-repeat: repeat-x;
	background-position: bottom;
}
.tableData {
	background-color: #fff;
	color: #999;
}*/
table { border: 0px;
        cellpadding: 0px;
        cellspacing: 0px;
  }
td {
	padding: 0px 5px 5px 5px;
	font-size: 80%;
}
tr {
    background-image: url(slices/dot9.png);
	background-repeat: repeat-x;
	background-position: bottom;
}
tr:first-of-type {
 color: #000;
}

._blocks_pageblocktablerows_header {
	font-size: 1.4em;
	padding-bottom: 10px;
}
._blocks_pageblocktablerows_ {
	text-align: left;	
	}
._blocks_pageblockaccordions_shortdescription {
	}

._blocks_pageblockaccordions_maintitle {
	text-decoration: none;
	font-family: ChinoITCStdRegular;
	padding: 10px 25px 0px 0px;
	font-size: 1.1em;
	color: #000;
	cursor:pointer;
	font-weight: bold;
	}
._blocks_pageblockimages_Maintitle {
	font-size: 0.8em;
	margin-top: 10px;
	}

._teacms_pageblockproducts_close {
	position: absolute;
	top: -27px;
	left: 599px;
	cursor:pointer;
}	
._blocks_pageblockfiles_Maintitle {
	cursor:pointer;
	margin-top: 20px;
	padding: 20px 0px 0px 40px;
	background-image: url(slices/pic-pdf.png);
	background-repeat: no-repeat;
	background-position: left;
	height: 40px;
	overflow: hidden;
	
	}
.sitemapNaviItem1{
	font-size: 1.2em;
	color: #000;
}
.sitemapNaviItem1 a:link {
	text-decoration: none; /* unless you style your links to look extremely unique, it's best to provide underlines for quick visual identification */
	color: #000;
	
}
.sitemapNaviItem1 a:visited {
	text-decoration: none;
	color: #000;
}
.sitemapNaviItem1 a:hover, a:active, a:focus { /* this group of selectors will give a keyboard navigator the same hover experience as the person using a mouse. */
	text-decoration: none;
	color: #6CF;
}	  
.sitemapNaviItem2{
	font-size: 1.0em;
	padding-left: 20px;
	color: #000;
	}
.sitemapNaviItem2 a:link {
	text-decoration: none; /* unless you style your links to look extremely unique, it's best to provide underlines for quick visual identification */
	color: #000;
	
}
.sitemapNaviItem2 a:visited {
	text-decoration: none;
	color: #000;
}
.sitemapNaviItem2 a:hover, a:active, a:focus { /* this group of selectors will give a keyboard navigator the same hover experience as the person using a mouse. */
	text-decoration: none;
	color: #6CF;
}	  
.sitemapNaviItem3{
	font-size: 0.8em;
	padding-left: 40px;
	color: #999;
	font-style: italic;
	}	
.sitemapNaviItem3 a:link {
	text-decoration: none; /* unless you style your links to look extremely unique, it's best to provide underlines for quick visual identification */
	color: #999;
	font-style: italic;
	
}
.sitemapNaviItem3 a:visited {
	text-decoration: none;
	color: #999;
	font-style: italic;
}
.sitemapNaviItem3 a:hover, a:active, a:focus { /* this group of selectors will give a keyboard navigator the same hover experience as the person using a mouse. */
	text-decoration: none;
	color: #6CF;
}	  

._dbleftarrow{
	position:absolute;
	cursor: pointer;
}
._dbrightarrow{
	position:absolute;
	cursor: pointer;
}

.classDbimageText{
	position: absolute;
	width:250px;
	text-align: center;
}
